{% extends "base.html" %}
{% block title %}OTT Store — Home{% endblock %}

{% block content %}

<div class="hero-banner">
    <div class="overlay"></div>

    <div class="hero-content">
        <h1>Buy & Sell OTT Subscriptions Instantly</h1>
        <p class="tagline">Fast • Secure • Demo Stripe Checkout</p>

        <a class="btn primary" href="{{ url_for('show_plans') }}">Explore Plans</a>
        <a class="btn ghost" href="{{ url_for('show_plans') }}">Quick Demo</a>
    </div>
</div>

<section class="logos-row">
  <img src="{{ url_for('static', filename='netflix.png') }}">
  <img src="{{ url_for('static', filename='prime.png') }}">
  <img src="{{ url_for('static', filename='hotstar.png') }}">
  <img src="{{ url_for('static', filename='sonyliv.png') }}">
  <img src="{{ url_for('static', filename='zee5.png') }}">
</section>

{% endblock %}
